/*contact section start*/

.contact__information {
    padding-top: 70px;
}

.contact__information {
    display: var(--flex);
    justify-content: var(--space-between);
    align-items: var(--flex-start);
}

.contact__article {
    width: 48%;

    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--flex-start);
    gap: 40px;
    align-self: var(--stretch);
}

.contact__wrap {
    display: var(--flex);
    align-items: var(--flex-start);
    gap: 20px;
}

.contact__location-text {
    max-width: calc(var(--index) * 12)
}

.contact__action {
    display: var(--flex);
    align-items: var(--flex-start);
    gap: 20px;
}

.contact__action-wrap {
    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--flex-start);
    gap: 5px;
}

.btn__contact::after {
    height: 1em;
    width: 1em;

    transition: var(--transition);
    background: no-repeat url(../assets/ui/arrow.svg) center / cover;
}

.btn__contact:hover::after {
    background: no-repeat url(../assets/ui/arrow_yellow.svg) center / cover;
}


.contact__img {
    width: 48%;
}

.main__form {
    width: 100%;
}

.main__form-wrapper {
    width: 100%;

    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--center);
    gap: calc(var(--index) * 1.5);
}

.contact {
    width: 100%;
    
    display: var(--flex);
    justify-content: var(--space-between);
    gap: 20px;
}

.contact__form {
    padding: calc(var(--index)* 1);

    width: 40%;

    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--flex-start);
    gap: calc(var(--index)* 0.7);

    border-radius: 12px;

    background-color: rgb(251, 251, 251);

    box-shadow: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
}

.contact__form-wrap {
    width: 100%;

    display: var(--flex);
    align-items: var(--center);
    align-self: stretch;
    gap: 20px;
}

.contact__form-group {
    width: 100%;

    display: var(--flex);
    flex-direction: var(--column);
    align-items: var(--flex-start);
    gap: 6px;
}

.contact__form-label {
    font-size: calc(var(--index)* .5);
    font-weight: 400;
    line-height: 140%;
}

.contact__form-input {
    padding: calc(var(--index)* .5) calc(var(--index)* .7);

    width: 100%;

    font-size: calc(var(--index)* .5);

    box-sizing: border-box;
    border: 1px solid var(--clr-white);
    border-radius: 6px;

    background: #fff;
}

.contact__form-textarea {
    padding: calc(var(--index)* .5) calc(var(--index)* .7);

    width: 100%;

    font-size: calc(var(--index)* .5);

    box-sizing: border-box;
    border: 1px solid var(--clr-white);
    border-radius: 6px;

    resize: var(--none);

    background: #fff;
}

.contact__form-btn::after {
    width: calc(var(--index)* .43);
    height: calc(var(--index)* .43);

    transform: rotate(45deg);

    background: no-repeat url(../assets/ui/arrow.svg) center / cover;
}

.contact__form-btn:hover::after {
    margin-left: 10px;

    background: no-repeat url(../assets/ui/arrow_yellow.svg) center / cover;
}

.contact__form-block {
    display: var(--flex);
    align-items: var(--center);
}

.contact__form-checkbox {
    margin-right: 12px;
}

.contact__form-privacy {
    font-size: calc(var(--index)* .5);
}

.privacy__link {
    font-size: calc(var(--index)* .5);
    text-decoration: underline;
}

.contact__block {
    width: 55%;
}

.contact__maps {
    width: 100%;

    margin-bottom: 24px;

    height: calc(var(--index) * 14);

    border-radius: 12px;
}

.contact__list {
    display: var(--flex);
}

.contact__item {
    display: var(--flex);
    flex-direction: var(--column);
    gap: 8px;
}

.contact__item:not(:last-child) {
    margin-right: 30px;
    padding-right: 30px;

    border-right: 1px solid var(--clr-white);
}

@media screen and (max-width: 1024px) {

    .contact {
        flex-direction: var(--column);
        align-items: var(--center);
    }

    .contact__form {
        width: 50%;
    }

    .contact__block {
        width: 50%;
    }

    .contact__list {
        flex-direction: var(--column);
    }

    .contact__item:not(:last-child) {
        margin-right: 0;
        padding-right: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;

        border-right: var(--none);
        border-bottom: 1px solid var(--clr-white);
    }

}

@media screen and (max-width: 768px) {

    .contact__information {
        padding-top: 40px;

        flex-direction: var(--column);
        gap: 20px;
    }

    .contact__article {
        width: 100%;
    }

    .contact__block-title {
        font-size: 12px;
    }

    .contact__img {
        width: 100%;
    } 

    .main__form {
        padding: 50px 0;
    }

    .contact__form {
        width: var(--auto);
        padding: 20px;
    }

    .contact__form-wrap {
        flex-direction: var(--column);
    }

    .contact__form-label {
        font-size: 12px;
    }

    .contact__form-input {
        font-size: 12px;
    }

    .contact__form-textarea {
        font-size: 12px;
    }

    .contact__form-privacy {
        font-size: 12px;
    }

    .privacy__link {
        font-size: 12px;
    }

    .contact__form-btn {
        width: 100%;

        display: var(--flex);
        justify-content: var(--center);
    }

    .contact__form-btn::after {
        width: 14px;
        height: 14px;
    }

    .contact__block {
        width: 100%;
    }

}

@media screen and (max-width: 430px) {

    .contact__form-input {
        height: 42px;
    }

}